<ul class="list-events">
    <li class="list-events__item">
        <a class="list-events__link link" href="#" tabindex="4">
            <div class="link__img _small"></div>
            В Молдавии обработали более 90% голосов на выборах президента
        </a>
    </li>
    <li class="list-events__item">
        <a class="list-events__link link" href="#" tabindex="5">
            <div class="link__img _small"></div>
            Ученые обнаружили убивающий коронавирус натуральный продукт
        </a>
    </li>
    <li class="list-events__item">
        <a class="list-events__link link" href="#" tabindex="6">
            <div class="link__img _small"></div>
            Глава Минтранса ушел на самоизоляцию по результатам теста на коронавирус
        </a>
    </li>
    <li class="list-events__item">
        <a class="list-events__link link" href="#" tabindex="7">
            <div class="link__img _small"></div>
            Трамп не признает победу Байдена на выборах в США
        </a>
    </li>
    <li class="list-events__item">
        <a class="list-events__link link" href="#" tabindex="8">
            <div class="link__img _small"></div>
            Пашинян назвал своих противников «скулящими под стенами»
        </a>
    </li>
</ul>