<div class="news-currency">
    <div class="news-currency__item">
        <span class="news-currency__data _currency-type link" tabindex="9">USD</span
    >
    <span class="news-currency__data _currency-count">76,47</span>
        <span class="news-currency__data _currency-change">-0,92</span>
    </div>
    <div class="news-currency__item">
        <span class="news-currency__data _currency-type link" tabindex="10">EUR</span
    >
    <span class="news-currency__data _currency-count">90,49</span>
        <span class="news-currency__data _currency-change">-1,09</span>
    </div>
    <div class="news-currency__item">
        <span class="news-currency__data _currency-type link" tabindex="11">Нефть</span
    >
    <span class="news-currency__data _currency-count">44,53</span>
        <span class="news-currency__data _currency-change">+4,12%</span>
    </div>
</div>