<div class="widgets">
    <div class="widgets__item link _link-transition-up" tabindex="23">
        <svg class="link__img _main">
        <use href="#icon-video"></use>
      </svg>
        <a class="link__text _visited" href="#" tabindex="-1">Видео</a>
    </div>
    <div class="widgets__item link _link-transition-up" tabindex="24">
        <svg class="link__img _main">
        <use href="#icon-kartinki"></use>
      </svg>
        <a class="link__text _visited" href="#" tabindex="-1">Картинки</a>
    </div>
    <div class="widgets__item link _link-transition-up" tabindex="25">
        <svg class="link__img _main">
        <use href="#icon-news"></use>
      </svg>
        <a class="link__text _visited" href="#" tabindex="-1">Новости</a>
    </div>
    <div class="widgets__item link _link-transition-up" tabindex="26">
        <svg class="link__img _main">
        <use href="#icon-maps"></use>
      </svg>
        <a class="link__text _visited" href="#" tabindex="-1">Карты</a>
    </div>
    <div class="widgets__item link _link-transition-up" tabindex="27">
        <svg class="link__img _main">
        <use href="#icon-market_new"></use>
      </svg>
        <a class="link__text _visited" href="#" tabindex="-1">Маркет</a>
    </div>
    <div class="widgets__item link _link-transition-up" tabindex="28">
        <svg class="link__img _main">
        <use href="#icon-translate"></use>
      </svg>
        <a class="link__text _visited" href="#" tabindex="-1">Переводчик</a>
    </div>
    <div class="widgets__item link _link-transition-up" tabindex="29">
        <svg class="link__img _main">
        <use href="#icon-music1"></use>
      </svg>
        <a class="link__text _visited" href="#" tabindex="-1">Музыка</a>
    </div>
    <div class="widgets__item link _link-transition-up" tabindex="30">
        <svg class="link__img _main">
        <use href="#icon-tv"></use>
      </svg>
        <a class="link__text _visited" href="#" tabindex="-1">Программа</a>
    </div>
    <div class="widgets__item link _link-transition-up" tabindex="31">
        <svg class="link__img _main">
        <use href="#icon-autoru"></use>
      </svg>
        <a class="link__text _visited" href="#" tabindex="-1">Авто.ру</a>
    </div>
    <div class="widgets__item link _link-transition-up" tabindex="32">
        <div class="link__img _wrapper">
            <svg class="link__img _wrp-icon">
          <use href="#icon-drive"></use>
        </svg>
            <svg class="link__img _wrp-icon">
          <use href="#icon-sport"></use>
        </svg>
            <svg class="link__img _wrp-icon">
          <use href="#icon-edadeal"></use>
        </svg>
            <svg class="link__img _wrp-icon">
          <use href="#icon-uslugi1"></use>
        </svg>
        </div>
        <a class="link__text _visited" href="#" tabindex="-1">Еще</a>
    </div>
</div>