<div class="news" (mouseenter)="onhover()" (mouseleave)="onhover()">
    <div class="news__titles">
        <a class="news__subtitle link _link-main" href="#" tabindex="1">Сейчас в СМИ</a
      >
      <a class="news__subtitle link _link-middle" href="#" tabindex="2"
        >в Москве</a
      >
      <a
        class="news__subtitle link _link-text-option"
        href="#"
        tabindex="3"
        >Коронавирус</a
      >
      <div class="news__menu" [ngClass]="{_visible: visibility}">
        <app-dropdown></app-dropdown>
      </div>
    </div>
    <div class="news__items">
      <app-list-events></app-list-events>
    </div>
    <app-news-currency></app-news-currency>
</div>