<div class="headline _yandex">
    <div class="headline__item">
        <div class="headline__geolink link">
            <svg class="link__img _headline-red">
          <use href="#icon-geolink"></use>
        </svg>
            <div class="link__text _link-text-add">Москва</div>
        </div>
        <span class="headline__data-time">
        05 января, понедельник 00:00
      </span>
    </div>
    <div class="headline__item link link__row">
        <svg class="link__img _headline-grey">
        <use href="#icon-bookmark"></use>
      </svg>
        <svg class="link__img _headline-grey">
        <use href="#icon-notification"></use>
      </svg>
    </div>
</div>