@import "color";
@import "font-vars";
@import "mixins";
@import "link";
@import "reset";
@import "normalize";
.notif {
    .font-notif();

    &__block {
        border-radius: 8px;
        box-shadow: 0 0 32px @clr-shadow-aside;
        margin-bottom: 7px;

        &._coronavirus {
            padding: 12px 14px;
        }

        &._messenger {
            padding: 12px 14px;
            height: 16px;
            display: flex;
        }
    }
}