<div class="search">
    <svg class="search__logo" tabindex="33">
      <use href="#icon-yandex_logo"></use>
    </svg>
    <div class="search__find">
        <div class="search__input-wrapper">
            <input class="search__input" type="text" placeholder="Найдётся всё" />
            <svg class="search__img">
          <use href="#icon-voice"></use>
        </svg>
            <svg class="search__img _last">
          <use href="#icon-keyboard"></use>
        </svg>
        </div>
        <button class="search__button" tabindex="34">Найти</button>
    </div>
</div>